.cabecalho {
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1em;
}

.cabecalho__container {
    display: flex;
    align-items: center;
}

.cabecalho__botao-menu:checked~.lista-menu {
    display: block;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho__imagem-menu {
    padding: .5em;
    margin: 0 .5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 76vw;
}

.lista-menu__titulo, .lista-menu__item {
    background-color: var(--cor-branca);
    padding: 0.75em;
}

.lista-menu__titulo {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.cabecalho__logo {
    width: 80px;
}

.cabecalho__botao-menu, .cabecalho__titulo, .cabecalho__opcoes, .cabecalho__texto {
    display: none;
}

.cabecalho__botao-menu:checked ~ .menu__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(../img/Menu\ Aberto.svg);
}

.cabecalho__botao-menu:checked ~ .menu__rotulo {
    background: var(--cor-gradiente);
}

/* Fazendo o fundo da lista ficar da cor azul */
.lista-menu__item:hover {
    background: var(--cor-principal);
}

/* Fazendo a lista ficar com a letra da cor branca */
.lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--cor-branca);
    text-decoration: none;
}


@media screen and (min-width: 1024px) {

    .cabecalho__menu-hamburguer, .cabecalho__imagem-favoritos {
        display: none;
    }

    .cabecalho__titulo, .cabecalho__titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .cabecalho__titulo {
        display: block;
        font-weight: 400;
    }

    .cabecalho__titulo-negrito {
        font-weight: 700;
    }

    .cabecalho__opcoes {
        display: flex;
    }

    .opcoes__link {
        color: var(--cor-preta);
        text-decoration: none;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .cabecalho__imagem-compras, .cabecalho__imagem-perfil {
        padding: 0 1em;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        color: var(--cor-branca);
        background: var(--cor-principal);
    }

    .opcoes__item {
        padding: 1em;
    }

    .lista-menu__item:hover {
        background: var(--cor-principal);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-branca);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px) {

    .cabecalho {
        padding: 0 3em;
    }
    
    .cabecalho__logo {
        width: 100px;
    }

    .cabecalho__texto {
        display: block;
    }

    .cabecalho__link {
        color: var(--cor-preta);
        text-decoration: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        padding-right: 2em;
    }

    .cabecalho__imagem-compras, .cabecalho__imagem-perfil {
        padding: 0;
    }

    .cabecalho__opcoes {
        margin-right: auto;
        padding-left: 3em;
    }
}