.topicos {
    background: var(--cor-gradiente);
    text-align: center;
    margin: 1em 0;
    padding: 1em 0;
}

.topicos__titulo {
    font-weight: 300;
    color: var(--cor-branca);
    text-transform: uppercase;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 1em;
}

.topicos__item {
    padding: 1em;
}

.topicos__link {
    font-weight: 700;
    font-size: 14px;
    color: var(--cor-branca);
    text-decoration: none;
    background-color: var(--cor-secundaria);
    padding: 0.5em 1.5em;
}


@media screen and (min-width: 1024px) {

    .topicos {
        padding: 3em 10vw;
    }

    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__lista {
        justify-content: space-around;
    }

    .topicos__item {
        padding: 2em 1em;
    }

    .topicos__lista :nth-child(6) { order: 1; }

    .topicos__link {
        font-size: 24px;
    }

    .topicos__link:hover {
        background-color: var(--cor-branca);
        color: var(--cor-secundaria);
        transition: 0.5s;
    }

    .topicos__item:hover {
        transform: scale(1.1);
        transition: all 1s;
    }
}

@media screen and (min-width: 1728px) {

    .topicos__titulo {
        font-size: 32px;
    }

    .topicos__lista {
        padding: 2em 17vw;
    }

    .topicos__lista :nth-child(1) { order: 0; }
    .topicos__lista :nth-child(2) { order: 7; }
    .topicos__lista :nth-child(3) { order: 6; }
    .topicos__lista :nth-child(4) { order: 5; }
    .topicos__lista :nth-child(5) { order: 4; }
    .topicos__lista :nth-child(6) { order: 1; }
    .topicos__lista :nth-child(7) { order: 2; }
    .topicos__lista :nth-child(8) { order: 3; }

}